*{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul{ 
  margin: 0; 
  padding: 0; 
}

body{
  background-color: #697C37;
}

.btn-send{
  background-color: #C0D02A;
}

.btn-send:hover{
  background-color: #737c20;
}

.form{
  box-shadow: -19px 20px 1px #425317;
  background-color: #ffff;
}

.main-section p{
  padding-right: 50px;
  text-align: justify;
}

label{
  margin-bottom: 5px;
}